{% extends "base_generic.html" %}

{% block upper_nav%}
    <li><a href="#About">About us</a></li>
    <li><a href="#Contract">Contract</a></li>
    <li><a href="{% url 'course_list' %}">Courses</a></li>
    <li><a href="{% url 'user_forum' %}">Blog</a></li>
{% endblock %}


{% block content %}

    <section>
    	
  		<div style="width:100%;">

  			<div>
  				<br>
  				<h1>Thousands of popular courses are available</h1>	
  				<h2>join our community <br> and <br> improve your technical skill</h2>	
  				<br>
  			</div>
  			<br>
  			<br>
  			<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
  			2px solid black; ">
  				<div class="row"  style="padding: 50px;">
  					<div class="col-md-3">
  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-search"></span>
  					</div>
  					<div class="col-md-9">  						
						<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">Imagine your future!</div>
						<br>
						<h2 style="text-align: left; color: #4a3a5a">What do you want to learn today? What's your dream job? Discover the program that's right for you!</h2>
						<a class="btn btn-light btn-xl js-scroll-trigger" style="font-size: 50px;  font-weight: bold" href="{% url 'course_list' %}">Get Started!</a>
  					</div>
  				</div>
  				
  			</div>
  			<br>
  			<br>
  			<br>
     	</div>
    </section>

    <br>

    <section id="join">
    	<br>
    	<br>
  		<div style="width:100%;">			
  			{% load static %}
	  		<div class="row" style="padding:100px">
	  			<h2 style="font-size: 60px">Join Now !</h2>
	  			<div class="col-lg-4 col-md-4" style="padding:10px">
	  				<a href="{% if perms.home.add_course %}{% url 'instructor_page' %}{% else %}{% url 'instructor_create' %}{% endif %}" class="thumbnail box" style="height:450px;">
	  					<div class="row">
	  						<div class="col-md-5">
	  							<img src={% static 'img/instructor.jpg' %} class="thumbnail" alt="">
	  						</div>
	  						<div class="col-md-7">
	  							 <h1>Join <br> as an <br> Instructor</h1>
	  						</div>
	  					</div>
	  					
			            <div  class="row" style="padding: 20px">
			                <h3>Offer courses,share your knowledges and present yourself as an expert instructor.Join as an instructor and create your own developed challenging courses.you can invite students for your complete active courses.</h3> 
			            </div>
		        	</a>	  				
	  			</div>
	  			<div class="col-lg-4 col-md-4" style="padding:10px">
	  				<a href="{% if user.is_authenticated %}{% url 'student_page' %}{% else %}{% url 'user_create' %}{% endif %}" class="thumbnail box" style="height:450px;">
	  					<div class="row">
	  						<div class="col-md-5">
	  							<img src={% static 'img/student.jpg' %} class="thumbnail" alt="">
	  						</div>
	  						<div class="col-md-7">
	  							 <h1>Join <br> as an <br> Student</h1>
	  						</div>
	  					</div>
	  					
			            <div  class="row" style="padding: 20px">
			                 <h3>Enrich your knowledges and present yourself as an expert professional.Join as an student and enroll into different courses  offered by different expert individual according to your interest.you can register for active courses free.</h3>
			            </div>
		        	</a>	  				
	  			</div>
	  			<div class="col-lg-4 col-md-4" style="padding:10px">
	  				<a href="{% url 'course_list' %}" class="thumbnail box" style="height:450px;">
	  					<div class="row">
	  						<div class="col-md-5">
	  							<img src={% static 'img/course.jpg' %} class="thumbnail" alt="">
	  						</div>
	  						<div class="col-md-7">
	  							 <h1>View popular courses</h1>
	  						</div>
	  					</div>
	  					
			            <div  class="row" style="padding:20px">
			                 <h3>Explore thousands of technical courses under different categories like animation, audio/music, business, design, development, marketing, photography, video and more. Choose the right courses ! </h3>
			            </div>
		        	</a>	  				
	  			</div>
	        </div>
  			<br>
  			<div class="jumbotron" style="background:rgba(100,150,230,0.5);padding: 20px 50px">
  				<h1>Features</h1>
  				<br>
  				<br>
  				<div class="row" style="padding: 30px">
  					<div class="col-md-4"><h2><span class="glyphicon glyphicon-pencil"></span><br>Thousands of <br>technical courses</h2></div>
  					<div class="col-md-4"><h2><span class="glyphicon glyphicon-check"></span><br>Get Expert <br>	 instructions</h2></div>
  					<div class="col-md-4"><h2><span class="glyphicon glyphicon-time"></span><br>Get Life-time <br> free access</h2></div>
  				</div>
  				<br>
  				<div class="row" style="padding: 30px">
  					<div class="col-md-4"><h2><span class="glyphicon glyphicon-flash"></span><br>Prove yourself <br> as an Expert</h2></div>
  					<div class="col-md-4"><h2><span class="glyphicon glyphicon-indent-left"></span><br>Master the most <br>competitive skills</h2></div>
					<div class="col-md-4"><h2><span class="glyphicon glyphicon-send"></span><br>Get hired by <br>world–changing <br> companies</h2></div>
  				</div>
  				<br>
  			</div>
  			<br>
     	</div>
    </section>
    <br>
    <br>

    <section id="Contract">
    	
  		<div style="width:100%">
  			
	  		<div class="row">
	  			<h1>Explore and Learn</h1>
	  			<br>
	            <div class="col-md-offset-1 col-md-10 text-center">
	              <h2 class="section-heading text-white">Sign up for getting latest updates</h2>
	              <br>
	              <br>
	              <div class="row" style="padding: 50px 200px;">
	              	<div class="col-md-6 col-lg-6"><a class="thumbnail box" href="{% url 'course_search' %}#top"><span  class="glyphicon glyphicon-star"></span>
	              		<span  class="glyphicon glyphicon-star"></span>
	              		<span  class="glyphicon glyphicon-star"></span>
	              		<h2>Top rated</h2></a></div>
	              	<div class="col-md-6 col-lg-6" ><a class="thumbnail box" href="{% url 'course_search' %}#new"><span class="glyphicon glyphicon-inbox"></span><h2>Recently added</h2></a></div>
	              	<br>
	              </div>
	              <div class="row" style="padding: 50px 200px;">

	              	<div class="col-md-6 col-lg-6" ><a class="thumbnail box" href="{% url 'user_forum' %}"><span class="glyphicon glyphicon-dashboard"></span><h2>User Forum</h2></a></div>
	              	<div class="col-md-6 col-lg-6"><a class="thumbnail box" href="{% url 'course_list' %}"><span class="glyphicon glyphicon-book"></span><h2>All courses</h2></a></div>
	              	<br>
	              </div>
	              <br>
	            </div>
	            <br>
	        </div>
     	</div>
    </section>
    <br>
    <br>

    <section id="About">
    	
  		<div style="width:100%">
  			
	  		<div class="row" style="padding:100px;">
	  			<h1>About us</h1>
	  			<br>
	            <div class="col-md-offset-1 col-md-10 text-center">
	              <h2 class="section-heading text-white">We've got what you need!</h2>
	              <h3>
	               KnowledgePoint is a popular educational hub for professionals looking to learn new skills related to business, creativity and technology. Courses fall under categories like animation, audio/music, business, design, development, marketing, photography, video and more.
	               Dedicated to bringing higher education to the world in the accessible, affordable and effective ways possible, KnowledgePoint offers both online courses and credentials that teach students the skills that are currently in demand by industry employers. They claim to offer their education at a fraction of the cost of traditional schooling.
					<br>
					<br>
				   When you sign up with KnowledgePoint, you get full free access and life-time premium membership. If you ever want to deactivate your membership and then come back at a later time, KnowledgePoint has a "reactivate" feature that restores all your account information including all your course history and progress.                  
				   This is an excellent platform to look into if you're planning on working in technology. With courses and credentials in Android, iOS, data science, software engineering and web development, you can be sure to get access to the most up to date education in these innovative areas that are relevant to today's tech companies and startups
				    <br>
				    <br>
				   KnowledgePoint is the online education site that tops this list for being such an incredibly popular and valuable resource. You can search through over  courses in all sorts of different topics and download the Udemy app to take your learning mobile for quick lessons and study sessions when you're on the go.
					<br>
					<br>
				   KnowledgePoint provides some additional features too. If you're an expert looking to create and launch a course of your own, you can also become an instructor with Udemy and take advantage of their massive user base to attract students
				   <br>
				   <br>

				  </h3>
				  <br>
				  <br>
	              <a class="btn btn-light btn-xl js-scroll-trigger" style="font-size: 50px; font-weight: bold" href="{% url 'course_list' %}">Get Started!</a>
	            </div>
	        </div>
     	</div>
    </section>

  <br>
  <br>

<!-- <p class="text-muted"> You have visited this page {{num_visits}} {% if num_visits == 1 %}time{% else %}times.{% endif %}</p> -->

{% endblock %}