{% extends "base_generic.html" %}

{% block upper_nav%}

{% endblock %}


{% block content %}

<div style="width:100%;padding: 20px">
	{% load static %}
	<div class="row" style="padding:100px">
	    <h2 style="font-size: 60px">What you want to do ?</h2>
	    <br>
	    <div class="col-lg-4 col-md-4" style="padding:10px">
		    <a href="{% url 'instructor_page' %}" class="thumbnail box" style="height:400px;">
			  	<div class="row">
			  		<div class="col-md-5">
			  			<img src={% static 'img/instructor.jpg' %} class="thumbnail" alt="">
			  		</div>
			  		<div class="col-md-7">
			  				<h1>Create your Courses</h1>
			  		</div>
			  	</div>
		  		<div  class="row" style="padding: 20px">
				    <h3>Work with your courses.You can add new courses,modify and enrich previous courses and offer to public students. <br> Work now !</h3> 
				</div>
			</a>	  				
		</div>
		<div class="col-lg-4 col-md-4" style="padding:10px">
		    <a href="{{ user.profile.get_absolute_url }}" class="thumbnail box" style="height:400px;">
			  	<div class="row">
			  		<div class="col-md-5">
			  			<img src="{% if user.profile.photo %}{{user.profile.photo.url}}{% endif %}" class="thumbnail" alt="">
			  		</div>
			  		<div class="col-md-7">
			  				<h1>My profile</h1>
			  		</div>
			  	</div>
		  		<div  class="row" style="padding: 20px">
				    <h3>View your Profile and you can Complete or update your profile information. <br> Go to profile now !</h3>
				</div>
			</a>	  				
		</div>
		<div class="col-lg-4 col-md-4" style="padding:10px">
		    <a href="{% url 'student_page' %}" class="thumbnail box" style="height:400px;">
			  	<div class="row">
			  		<div class="col-md-5">
			  			<img src={% static 'img/student.jpg' %} class="thumbnail" alt="">
			  		</div>
			  		<div class="col-md-7">
			  				<h1>Enroll as a Student</h1>
			  		</div>
			  	</div>
		  		<div  class="row" style="padding:20px">
				    <h3>Explore thousands of technical courses and you can also enroll courses offered by other instructors to enrich your knowledge. <br> explore now ! </h3>
				</div>
			</a>	  				
		</div>
	</div>
    <br>
	<br>
	<h3>{{user.email}}</h3>	
</div>

<!-- <p class="text-muted"> You have visited this page {{num_visits}} {% if num_visits == 1 %}time{% else %}times.{% endif %}</p> -->

{% endblock %}