{% extends "base_generic.html" %}

{% block upper_nav%}

{% endblock %}


{% block content %}

<div class="row">

    <div class="col-md-2 heading" style="height:100%; ">
            <a href="{{ user.profile.get_absolute_url }}">
                <img src="{% if user.profile.photo %}{{user.profile.photo.url}}{% endif %}" alt="" class="img-thumbnail" style="width:130px;height:130px; margin:auto;">
                <br>
                <br>
            </a>
            <h3>{{user.first_name}} {{user.last_name}}</h3><div class="text-success">{{user.email}}</div>
            <br>
            <br>
            <br>
            {% if perms.home.add_course %}
			<a href="{% url 'instructor_page' %}"><div class="box"><span class="glyphicon glyphicon-pencil"></span> Instructor Account</div></a>
			<br>
			{% endif %}
			<a href="{{ user.profile.get_absolute_url }}"><div class="box"><span class="glyphicon glyphicon-user"></span> My Profile</div></a>
			<br>
			<a href="{% url 'user_forum' %}"><div class="box"><span class="glyphicon glyphicon-check"></span> User Forum</div></a>
			<br>           
            <br>
    </div>

    <div class="col-md-10" style="padding: 10px">
	  	<section>
	    	<div>
		  		<h1 style="	text-shadow: 1px 1px 4px black;">My current courses</h1>
		  		<br>
		  		<br>
		        <div class="row">
					{% for registration in user.registration_set.all %}
					<div class="col-md-3 col-sm-4" style="margin:10px;">
			  			<a href="{% url 'course_detail' registration.course.pk %}" class="thumbnail box" style="height:350px;">
			  				<img src="{% if registration.course.cover_photo %}{{ registration.course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h2>{{registration.course.title}}</h2>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{registration.course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{registration.course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
		        </div>
	     	</div>
	    </section>
		<br>
		<br>
	  	<section>	  			
		  	<div>
		  		<h1 style="	text-shadow: 1px 1px 4px black;">Courses you may like</h1>
		  		<br>
		  		<br>
		        <div class="row">
					{% for profile in user.followed.all %}
					{% for course in profile.user.course_set.all %}
					<div class="col-md-3 col-sm-4" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:350px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h2>{{course.title}}</h2>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
			        {% endfor %}
					{% endfor %}
		        </div>
	     	</div>
	    </section>
		<br>
		<br>
	    <section>
		  	<div>
		  		<h1 style="	text-shadow: 1px 1px 4px black;">People you may follow</h1>
		  		<br>
		  		<br>
		        <div class="row">
					{% for profile in user.followed.all %}
					<div class="col-md-3 col-sm-4" style="margin:10px;">
			  			<a href="{% url 'about_instructor' profile.user.pk %}" class="thumbnail box" style="height:350px;">
			  				<img src="{% if entry.instructor.Profile.photo %}{{ entry.instructor.Profile.photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2>
						    	<div style="text-align: center">

						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{profile.follower.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
			        {% endfor %}
		        </div>
		        <div>
		        </div>
	     	</div>
	    </section>
	</div>
</div>



<!-- <p class="text-muted"> You have visited this page {{num_visits}} {% if num_visits == 1 %}time{% else %}times.{% endif %}</p> -->

{% endblock %}
