{% extends "base_generic.html" %}

{% block content %}

<div style="width:50%;height: 100%">
    <form action="" class="form-horizontal" method="post">
		{% csrf_token %}
        <div class="row">
            <a href="{% url 'home_page' %}"  style="float:right ;color:red"><span class="glyphicon glyphicon-remove btn btn-lg">close</span></a>
        </div>
		<div class="form-group">
	    	{% if form.email.errors %}
	    	    <span class="text-danger small">{{ form.email.errors }}</span> 
	    	{% endif %}
	    		<br>
                <label class="col-sm-4 control-label">{{ form.email.label_tag }}</label>
	            <div class="col-sm-8">{{ form.email }}</div>
        </div>
        <div class="form-group">        
            <div class="col-sm-offset-4 col-sm-10">
                <input type="submit" class="btn btn-success" value="Reset password" />
                <input type="hidden" name="next" value="{{ next }}" /> 
            </div>
        </div>
    </form>
</div>
{% endblock %}