{% extends "base_generic.html" %}

{% block content %}

<div style="width: 50%;height: 100%">
	<div class="row">
		<a href="{% url 'home_page' %}"  style="float:right ;color:red"><span class="glyphicon glyphicon-remove btn btn-lg">close</span></a>
	</div>
	<h1>Done</h1>
	<br>
	<h3>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</h3>
	<br> 
	<div>
		<a style="float: right" class="btn btn-success" href="{% url 'home_page'%}">OK</a>
	</div>
</div>
{% endblock %}