{% extends "base_generic.html" %}

{% block content %}

<div class="panel" style= "width: 60%" id="black-panel">

	<form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
	    {% csrf_token %}

	    <table>
	    <div class="form-group">
			<a href="{% if user.is_authenticated %}{% url 'index_page' %}{% else %}{% url 'home_page' %}{% endif %}"  style="float:right ;color:red"><span class="glyphicon glyphicon-remove btn btn-lg">close</span></a>
		</div>
		<br>
		<br>
	    	{% for field in form %}
	    	<div class="form-group">
	    		<span class="text-danger small">{{ field.errors }}</span>
	    		<label class="col-sm-3 control-label">{{ field.label_tag }}</label>
	    		<div class="col-sm-9">{{ field }}</div>
	    	</div>
	    	{% endfor %}
	    <div class="col-sm-offset-2 col-sm-10">
	        <a href="#">want to be an instructor? select the checkBox</a>	
	    </div>	            

	    
	    	
	    </table>
	    <br>
	    <br>
	    <div class="form-group">        
	      <div class="col-sm-offset-5 col-sm-10">
	        <input type="submit" class="btn btn-success" style="width:120px" value="Submit" />	
	      </div>
	    </div>
	</form>
</div>
{% endblock %}