{% extends "base_generic.html" %}


{% block upper_nav%}

{% endblock %}
{% block content %}
     <section id="it">    	
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">IT and Software</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
		        {% if it %}
					{% for course in it.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span >
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="network">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Networking and Security</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if network %}
					{% for course in network.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="photography">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1  class="heading" style="font-size: 40px">Photography</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if photography %}
					{% for course in photography.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="health">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Health and Fitness</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if health %}
					{% for course in health.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="android">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Android Development</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if android %}
					{% for course in android.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="webdesign">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 45px">HTML,CSS,JavaScript and other web templates</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if web %}
					{% for course in web.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="ai">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Artificial Intelligence</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if ai %}
					{% for course in ai.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="game">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Game Development</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if gaming %}	
					{% for course in gameing.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="robotics">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Robotics</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if robotics %}
					{% for course in robotics.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="design">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Basic and Advanced Design technicque</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if design %}
					{% for course in design.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="machineLearning">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Machine Learning</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if machine %}
					{% for course in machine.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="teaching">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Teaching training</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if teaching %}
					{% for course in teaching.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>
     <section id="language">
     	<br><br><br>
     	<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Programming Languages </h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if programming %}
					{% for course in programming.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>     	
	<section id="business">
		<br><br><br>
  		<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 50px">Business Leadership and Marketing</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if business %}
					{% for course in business.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
     </section>
     <br>    	
	<section id="business">
		<br><br><br>
  		<div style="width:100%;height: 100%">
	  		<div class="row">
	  			<h1 class="heading" style="font-size: 40px">Miscellenous courses</h1>
		  		<br>
		  		<br>
		        <div class="row" <div class="row" <div class="row" style="margin:10px 20px;padding:20px;">
				{% if others %}
					{% for course in others.all %}
					<div class="col-lg-2" style="margin:10px;">
			  			<a href="{% url 'course_detail' course.pk %}" class="thumbnail box" style="height:320px;">
			  				<img src="{% if course.cover_photo %}{{ course.cover_photo.url }}{% endif %}" alt="">
					        <div  class="caption">
					            <h3>{{course.title}}</h3>
						    	<div style="text-align: center">
						    		<span>
						    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
						    		</span>
						    	</div>
						    	<div class="row text-success" style="font-weight: bold;text-align:center;font-size: 18px; ">{{course.registration_set.count}} students registered</div>
						    	<br>
						    	<br>
					        </div>
				        </a>
				        <br>
			        </div>
					{% endfor %}
				{% else %}
					<div class="thumbnail" style="background: rgba(204, 255, 204,0.7);width: 70%;margin: auto;border: 
		  			2px solid black; ">
		  				<br>
		  				<br>
		  				<div class="row"  style="padding: 50px;">
		  					<div class="col-md-3">
		  						<span style="margin: auto; font-size: 200px;" class="glyphicon glyphicon-grain"></span>
		  				    </div>
		  					<div class="col-md-9">  						
								<div style="font-family: 'Lobstar'; font-size: 60px;font-weight: bold;color:black">No course in this catagory</div>
								<br>
								<br>
								<br>
		  					</div>
		  					<br>
		  				</div>  
		  				<br>				
		  			</div>
				{% endif %}
		        </div>
	        </div>
     	</div>
    </section>
	<br>
	<br> 


{% endblock %}