{% extends "base_generic.html" %}

{% block content %}
<div class="container-fluid" style="height: 100%">
	<div class="row">

		<div class="col-lg-offset-11 col-sm-1">
			<a href="{% if user.is_authenticated %}{% url 'student_page' %}{% else %}{% url 'home_page' %}{% endif %}"  style="color:red"><span class="glyphicon glyphicon-remove btn btn-lg">close</span></a>
		</div>
	</div>
	<div class="row" style="padding-top: 20px;">
		<div class="col-lg-offset-1 col-lg-4">
		    	<div class="row">
		    		<div class="col-lg-6"><h1>Lessons :</h1></div>
		    		<br>
		    		{% load guardian_tags %}
		    		{% get_obj_perms request.user for course as "course_perms" %}
		    		{% if "change_course" in course_perms %}
		    		<div class="col-lg-offset-2 col-lg-4">	    		
		    			<a href="{% url 'lesson_create' %}" class="btn btn-success" style="width:150px;"><span class="glyphicon glyphicon-plus"></span> Add Lesson</a>
		    		</div>
		    		{% endif %}
		    	</div>
		    	<br>
		    	<br>
		    	<div class="row">
			    	{% for lesson in course.lesson_set.all %}
			    	<div>
					<a href="{% url 'lesson_detail' lesson.pk %}" class="thumbnail box" style="height:70px;"><h3>{{lesson.topic}}</h3></a>
					<br>
					</div>
		    		{% endfor %}	
		    	</div>
		    	<br>

		        
		    	<a href="{% url 'about_instructor' course.instructor.pk %}" class="thumbnail box">		    	
		    	    <div class="row">
		    			<h1>About instructor:</h1>
		    		</div>
					<br>
		    		<span>
		    			<img src="{% if course.instructor.profile.photo %}{{course.instructor.profile.photo.url}}{% endif %}" alt="currently unavailable" class="img-thumbnail" style="float:left;width:40%;height:150px;">
		    			<div style="color: white;"><h3>{{course.instructor.first_name}} {{course.instructor.last_name}}</h3>
		    				<h3>{{course.instructor.course_set.count}} courses</h3>
		    			</div>
		    		</span>
		    	</a>
		    	<br>
		    	<br>
		    	<br>		
		</div>

		<div class="col-lg-offset-1 col-lg-5" >

		    	<br>
		    	<div class="row">
		    		<h1>{{course.title}}</h1> 
		    	</div>
		    	<br>
		    	<div class="row">
		    		{% if course.cover_photo %}
		    		<img class="img-thumbnail" src="{{course.cover_photo.url}}" alt="" style="float:left;width:35%;height:120px;margin:0 10 10 0px ">
		    		{% endif %}
		    		<span> {{course.motivation}}</span>
		    	</div>
		    	<br>
		    	<div class="row">
		    		<span class="col-sm-6">
		    			<input id="input-1" name="input-1" class="rating" data-min="0" data-max="5" data-step="0.1" value={{course.rating}}>
		    		</span>
		    	</div>
		    	<br>

		    	<br>
		    	<div class="row">
		    		<span class="col-sm-offset-8 col-sm-4"> last modified : <br>{{course.last_update}}</span>
		    	</div>
		    	<br>
				<br>
		    	<br>
		    	<br>

		    	{% if "change_course" in course_perms %}
		    	<div class="col-sm-offset-1 col-sm-4">
		       		<a href="{% url 'course_update' course.pk %}" class="btn btn-primary btn-lg " style="width:120px;">Edit</a>	
		    	</div>
			    	{% if not course.active %}
			    <div class="col-sm-offset-2 col-sm-5">
			       		<a href="{% url 'course_launch' course.pk %}" class="btn btn-primary btn-lg " style="width:120px;">Launch</a>	
			    </div>
			    	{% endif %}
		    	{% else %}
			    	{% if course.active and enroll %}
			    	<div class="col-sm-offset-4 col-sm-5">
			       		<a href="{% url 'course_registration' course.pk %}" class="btn btn-success btn-lg " style="width:150px;">Enroll now</a>	
			    	</div>
			    	{% endif %}
		    	{% endif %}



		    </div>
		            

		    

		</div>

	</div>
</div>
{% endblock %}