{% extends "base_generic.html" %}

{% block content %}

<div style= "width: 100%;padding: 100px;">

	<form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
	    {% csrf_token %}

	    <table>
	    <div class="form-group">
			<a href="{% url 'instructor_page' %}"  style="float:right ;color:red"><span class="glyphicon glyphicon-remove btn btn-lg">close</span></a>
		</div>
		<br>
		<br>
	    	{% for field in form %}
	    	<div class="form-group">
	    		<span class="text-danger small">{{ field.errors }}</span>
	    		<label class="col-sm-3 control-label">{{ field.label_tag }}</label>
	    		<div class="col-sm-7">{{ field }}</div>
	    	</div>
	    	{% endfor %}
	    </table>
	    <br>
	    <br>
	    <br>
	    <div class="form-group">        
	      <div class="col-md-offset-6 col-md-2">
	        <input type="submit" class="btn btn-success" style="width:120px" value="Submit" />	
	      </div>
	    </div>
	    <br>
	    <br>
	    <br>
	</form>
</div>
{% endblock %}