{% extends "base_generic.html" %}

{% block content %}

<div>	    	
	<div class="row">
		<a href="{% if user.is_authenticated %}{% url 'student_page' %}{% else %}{% url 'home_page' %}{% endif %}"  style="float:right ;color:red"><span class="glyphicon glyphicon-remove btn btn-lg">close</span></a>
	</div>
	<div class="container-fluid" style="padding: 50px 300px;">
	    <br>
	   	<div class="row">
	    	<h1>{{lesson.course.title}}</h1> 
	    </div>
	    <br>
	    <br>
	    <div class="row">
	    	<div class="col-sm-3">
	    		<h2>Lesson-{{lesson.lesson_no}}</h2>
	    	</div>
	    	<div class="col-sm-offset-1 col-sm-3">
	    		<h2>{{lesson.topic}}</h2>	    			
	    	</div>
	    </div>
	    <br>
	    <br>
	    <br>
	    <div class="row">
	    	<span class="col-sm-12"> {{lesson.motivation}}</span>
	    </div>
	    <br>
	    <br>
	    <br>
	    <div class="row">
	    	<video  class="thumbnail col-sm-offset-2" style="background-color:black;border:3px solid #523436" width="600" height="400" controls>
  				<source src="{% if lesson.lesson_video %}{{lesson.lesson_video.url}}{% endif %}" type="video/mp4">
					Your browser does not support the video tag.
			</video> 			
		</div>
	    <br>
	    <br>
	    <br>

	    {% if perms.home.add_course %}
	    <div style="text-align: center;">
	       	<a href="{% url 'lesson_update' lesson.pk %}" class="btn btn-primary btn-lg " style="width:180px;">Edit</a>	
	    </div>
	    {% endif %}
	</div>
</div>
{% endblock %}