#page-top {
	background: url('../img/ws1.jpg') 100% fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
	top: 0 ;
	bottom: 0 ;
	height: 100vh;
	z-index: -10;
}

.navbar .navbar-nav li a{
	padding: 35px 25px;
	height: 100%;
	color: #EFAD5E;
	font-size: 18px;
	align-items: center;
}

.dropdown .dropdown-menu{
	background: rgba(0,0,0,1.0);
}

.dropdown .dropdown-menu li a:hover{
	background: rgba(0,0,0,1.0);
}

.dropdown .dropdown-menu li a{
	padding: 5px 2px
}

.navbar .navbar-nav li a:hover,.navbar .navbar-nav li a:focus,.navbar .navbar-nav .active a{
	background-color: rgba(10,100,100,0.2);
	color: rgb(250,150,150);
}

section{
	margin-right: 20px;
	margin-left: 0px;
}

h1 {
	text-align: center;
	color: #CCFFCE;
	font-weight: bold;
}
h2{
	text-align: center;
	font-weight: bold;
}
h3{
	text-align: center;
	font-weight: bold;
	color:#aabbcc;
}

#black-panel{
 	margin:auto; 
 	padding: 100px;  
 	width: 100%; 
 	color: white;
 	margin-bottom: 50px;
 	border: 3px solid black; 
 	background: rgba(20,30,40,0.9);
}

#box{
 	margin:auto; 
 	padding: 10px;  
 	width: 100%; 
 	background: rgba(0,0,0,0.6);
 	border:3px solid black;
}

#box:hover{
 	margin:auto; 
 	padding: 10px;  
 	width: 100%; 
 	background: rgba(100,200,200,0.2);
 	border:3px solid #323436;
}

.form-group input,select,textarea{
	color: black;
}

select{
	width:100%;
	border-radius: 3px;
	height: 35px;
	border:2px solid black;
}

.thumbnail img{
	height:140px;
	width: 100%
}


